/* 1400px */
@media (max-width:1400px) {
    * {
        max-width: 1200px;
        margin: 0 auto;

    }
}

/* 992px */
@media (max-width:992px) {
    * {
        margin: 0 auto;
    }

    /*   ▼ Menú ▼  */
    .nav__menu ul {
        display: none;
    }

    .navbar-container .lbl-menu {
        display: flex;

    }

    .lbl-menu {
        width: 100%;
        margin-left: 90px;
        height: 30px;
        position: relative;
        cursor: pointer;
        justify-content: flex-end;
        margin-right: 15px;
    }

    .lbl-menu #spn1,
    #spn2,
    #spn3 {
        position: absolute;
        content: '';
        background: crimson;
        width: 40px;
        height: 3px;
        border-radius: 3px;
        transition: all 400ms ease;
    }

    .lbl-menu #spn2 {
        top: 11px;
    }

    .lbl-menu #spn3 {
        top: 22px;
    }

    #btn-menu {
        display: none;
    }

    /*(~) alt+126*/
    #btn-menu:checked~.lbl-menu #spn1 {
        transform: rotate(140deg);
        top: 10px;
    }

    #btn-menu:checked~.lbl-menu #spn2 {
        opacity: 0;
    }

    #btn-menu:checked~.lbl-menu #spn3 {
        transform: rotate(-140deg);
        top: 10px;
    }

    #btn-menu:checked~.menu {
        max-width: 990px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 80px;
        position: absolute;

    }

    #btn-menu:checked~.nav__menu ul {
        margin: 0 auto;
        width: 180px;
        height: 550px;
        display: flex;
        right: 0px;
        flex-direction: column;
        column-gap: 20px;
        padding: 20px 25px;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        background: #2b2b2b;
        opacity: 95%;
        background-size: contain;
        color: #ffff;
        top: 80px;
        z-index: 2;
        border: solid 1px;
        border-right: none;
        border-top: none;
        border-color: crimson;
        border-radius: 0px 0px 0px 10px;
        transition: all .7s;
    }

    .nav__menu li a:hover {
        color: darkcyan;
    }

    .nav__menu li a {
        margin: 0 auto;
        color: #fff;
        justify-content: center;
        font-size: 22px;
    }

    .nav__menu li a:hover {
        color: crimson;
    }

    .navbar-container .logo h1 {
        font-family: 'Nova Flat', cursive;
        font-size: 20px;
        color: #fff;
        margin-left: 15px;
    }

    .header__main {
        max-width: 991.9px;
        margin: 0 auto;
        place-items: center;
    }

    /*   ▲ Menú ▲ */

    /* ↓↓ Video Banner ↓↓ */
    .bannervid {
        margin: 0 auto;
        width: 100%;
        position: relative;
    }

    video {
        width: auto;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-banner {
        font-size: 100px;
        mix-blend-mode: multiply;
        margin-top: 80px;
    }

    .hero__container {
        max-width: 980px;
        margin: 0 auto;
        width: 100%;
    }

    .hero__container .hero-img img {
        width: 970px;
        margin-top: 20px;
        height: 350px;
        overflow: hidden;
        place-content: center;
        opacity: 45%;
        border-radius: 3px;
    }

    .hero__container h2 {
        z-index: 1;
        width: 100%;
        font-family: 'Nova Flat', cursive;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.5px;
        margin-top: 300px;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
    }


    /* ↑↑ Video Banner ↑↑  */
/*     .media .carrusel  {
        max-width: 320px;
        width: 100%;
        display: flex;
        
    }
    .media .carrusel .contenido__carrusel .arrow {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        color: #FFF;
    } */



    .contact-info iframe {
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }
    .media .carrusel {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        margin: 25px;
        overflow: hidden;
        position: relative;
    }
    .media .carrusel .contenido__carrusel{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .media .carrusel .contenido__carrusel iframe {
        width: 280px;
        height: 300px;
        padding: 25px;
    }
    
    .media .carrusel .contenido__carrusel .arrow a {
        width: 100%;
        height: 100%;
        opacity: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        text-align: center;
        position: absolute;
        color: #FFF;
        z-index: 1;
        top: 0;
        font-weight: 600;
        padding: 15px;
         }
         .media .carrusel .contenido__carrusel .arrow a i{
            width: 100%;
            height: 100%;
            color: #FFF;
            text-align: center;

         }

}

/*                           ↓↓    768px  ↓↓                                 */
@media (max-width: 768px) {
    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    .hero__container {
        max-width: 760p;
        margin: 0 auto;
    }

    .hero__container .hero-img img {
        width: 689px;
        margin-top: 20px;
        height: 350px;
        overflow: hidden;
        opacity: 45%;
        border-radius: 3px;
    }

    .hero__container h2 {
        z-index: 2;
        width: 100%;
        font-family: 'Nova Flat', cursive;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.5px;
        margin-top: 300px;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
    }

    .cards_secction {
        width: 100%;
        columns: 5 300px;
        column-gap: 20px;
        margin-top: 40px;
        margin-bottom: 25px;
    }

   
/*     .media .carrusel .contenido__carrusel {
        width: 319px;
        display: flex;
        overflow: hidden;

    }

    .media .carrusel {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        position: relative;
        align-items: center;
    }

    .media .carrusel .contenido__carrusel .arrow a  {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        font-family: sans-serif;
        font-size: 60px;
       

    } */
    .media .carrusel .contenido__carrusel .arrow  {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
        position: absolute;
        top: 150px;
        z-index: 3;
        text-decoration: none;

    }

}



/* 576px */
@media (max-width:576px) {
    * {
        margin: 0 auto;
        margin: 0;
        padding: 0;
    }

    .text-banner {
        max-width: 576px;
        margin: 0 auto;
        text-align: center;
    }

    .text-banner {
        max-width: 576px;
        margin: 0 auto;
        margin-top: 80px;
        font-size: 50px;
        text-align: center;
        font-weight: 400;

    }

    .hero__container {
        max-width: 570px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }


    .hero__container .hero-img img {
        margin-top: 20px;
        width: 570px;
        height: 350px;
        overflow: hidden;
        place-content: center;
        opacity: 45%;
        border-radius: 3px;
    }

    .hero__container h2 {
        z-index: 1;
        width: 100%;
        font-family: 'Nova Flat', cursive;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.5px;
        margin-top: 300px;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
    }

    .cards__container {
        max-width: 575.9px;
        width: 100%;
        display: contents;
    }

    .cards_secction {
        max-width: 574px;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .cards_secction h3 {
        color: crimson;
        font-size: 22px;
        margin-bottom: 15px;
        text-align: center;
    }

    .cards__container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 10px;
        justify-content: center;

    }

    .cards_secction .cards__container img {
        max-width: 320px;
        margin: 0 auto;
        border-radius: 10px;
        transition: none;
        justify-content: center;
    }

    .cards_secction .cards__container img:hover {
        transform: none;
    }

    .shop__banner {
        max-width: 480px;
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: grid;
        place-content: center;
        grid-template-columns: repeat(1, 1fr);
        background-color: #161616;
        padding: 20px;
        border-radius: 5px;
        border: solid 0.5px darkslateblue;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .shop__banner .shop-promo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 15px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    /* .media {
        width: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        background-size: cover;
        background-repeat: repeat;
    }

    .media video {
        display: none;
    } */

    .contact-info iframe {
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }
}


/* 320px */
@media (max-width:320px) {
    * {
        margin: 0 auto;
        margin: 0;
        padding: 0;
    }

    main {
        justify-content: center;
    }

    /*  ↓↓ banner ↓↓ */
    .text-banner {
        max-width: 319.9px;
        margin: 0 auto;
        text-align: center;
    }

    .text-banner {
        max-width: 319.9px;
        margin: 0 auto;
        margin-top: 80px;
        font-size: 50px;
        text-align: center;
        font-weight: 400;

    }

    .hero__container h2 {
        z-index: 1;
        width: 100%;
        font-family: 'Nova Flat', cursive;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.5px;
        margin-top: 0;
        top: 50%;
        position: absolute;
        pointer-events: none;
    }

    .hero__container {
        margin: 0 auto;
    }

    .hero__container .hero-img img {
        margin-top: 20px;
        width: 319.9px;
        height: 350px;
        overflow: hidden;
        place-content: center;
        opacity: 45%;
        border-radius: 3px;
    }

    .cards_secction {
        max-width: 315.9px;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .cards_secction h3 {
        color: crimson;
        font-size: 22px;
        margin-bottom: 15px;
        text-align: center;
    }

    .cards_secction .cards__container img {
        max-width: 315.9px;
        margin: 0 auto;
        border-radius: 10px;
        transition: none;
        justify-content: center;
    }

    .cards_secction .cards__container img:hover {
        transform: none;
    }

    .shop__banner {
        max-width: 320px;
        margin: 0 auto;
        width: 100%;
        height: auto;
        display: grid;
        place-content: center;
        grid-template-columns: repeat(1, 1fr);
        background-color: #161616;
        padding: 20px;
        border-radius: 5px;
        border: solid 0.5px darkslateblue;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .shop__banner .shop-promo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 15px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    /*  .media {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: repeat;

    }

    .media video {
        display: none;
    }

    .contact-info iframe {
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
        align-items: center;
    } */
}